<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sqlite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DFA72FF8200A8AEA00102DC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFA73010200A8AEB00102DC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFA7301B200A8AEB00102DC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
